extends layout
  
block content
  //- h1= title
  //- p Welcome to #{title}
  
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand Pizza Condor
            - var active = 'login'
            include ./menu.jade
        .inner.cover
          if user
            h1.cover-heading
              | Ya has iniciado sesión como #{user}
          else
            h1.cover-heading Inicia sesión
            
            form(method="POST", action="/user/auth")
              .form-group
                label(for='inputUser') Usuario
                input#inputUser.form-control(type='text', placeholder='Introduzca su usuario', name='user')
              .form-group
                label(for='inputPassword') Contraseña
                input#inputPassword.form-control(type='password', placeholder='***', name='password')
              
              button.btn.btn-lg.btn-default(type='submit') Iniciar sesión
              br/
              | ¿ No tienes una cuenta ? Registraté haciendo 
              a(href='/user/register') click aquí


          
          //- p.lead
            | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
          //- p.lead
            a.btn.btn-lg.btn-default(href='#') Learn more
        include footer